main
coverage.out
.idea
bootstrap
node_modules/
dist/
.vscode
.smithy.lsp.log
.gradle/
smithy/build
.DS_Store
*.zip
.env
test.output
report.xml
cypress.env.json
**/logs
cucumber-messages.ndjson
cypress/screenshots/